li,
ul {
  list-style: none;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

#header-2023 {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*position: fixed;*/
  top: 0;
  background-color: white;
  z-index: 999;
}
.container-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  height: 2rem;
  padding: 0.5em 2em 0 2em;
}
.o-input {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: flex-start;
}
.o-input input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  outline: none;
}

.o-input input::placeholder {
  color: black;
  font-family: "Work Sans", sans-serif;
}
.busca {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.busca legend {
  display: none;
}
.busca label {
  display: none;
}
.busca select {
  display: none;
}
.busca input[type="text"] {
  color: black;
  border: none;
  border-bottom: 1px solid black;
  padding: 4px 0;
  font-family: "Work Sans";
}
.busca input[type="text"]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}

.btn-buscar {
  background-image: url(https://i.pinimg.com/564x/79/ce/10/79ce10e4c34077215b988139aec41dbe.jpg) !important;
  object-fit: contain;
  background-position: center;
  border-radius: 0;
  border: none;
  padding: 4px;
  background-repeat: no-repeat;
  width: 30px;
  background-size: 100%;
  background-size: 30px auto;
  font-family: "Work Sans";
  font-weight: bold;
  cursor: pointer;
}
.ui-autocomplete-input {
}
.search-header {
  width: 33%;
}

.o-logo {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-logo img {
  max-width: 220px;
  display: block;
}
.o-login-cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 33%;
}
.o-iconos-container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.container-bottom-header {
  width: 100%;
  /*padding: 0 2em;*/
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  }
  .fixed{
    position: fixed;
    top: 0;
    z-index: 555;
    background: white;
  }
.container-bottom-header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 8px;
}

.container-bottom-header ul li a {
  margin: 8px 0;
  text-decoration: none;
  color: black;
  font-family: "Work Sans", sans-serif;
}

.submenu {
  display: none;
}
.menu-item {
  margin: 0;
  padding: 0 8px;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.menu-header ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}
.menu-header ul li {
  margin: 5px 0;
}

.ver-todo a {
  font-weight: 700;
}

.title-menu a {
  font-weight: 700;
}
.imagen-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  width: 70%;
}
.imagen-menu a {
  position: relative;
}
.img-overlay {
  background: rgba(0, 0, 0, 0.24);
  width: 100%;
}
.imagen-menu a img {
  width: 100%;
  transition: 0.3s all ease-in-out;
}

.imagen-menu a h2 {
  position: absolute;
  top: 80%;
  left: 35%;
  color: white;
  font-family: "Work Sans";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.top-bar-container {
  width: 100%;
  overflow: hidden;
  padding: 0.2em;
  background-color: #dc1d23;
}
.topbar {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}
.topbar-text {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.topbar a {
  text-decoration: none;
}
.topbar a p {
  color: white;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.anim {
  animation: mover linear 8s infinite;
}

@keyframes mover {
  0% {
    right: 0%;
  }
  48% {
    right: 0%;
  }
  50% {
    right: 100%;
  }
  98% {
    right: 100%;
  }
  100% {
    right: 0%;
  }
}
.o-openMenuMobile {
  display: none;
}
.o-closeMenuMobile {
  display: none;
}
.contenidos {
  margin-top: 9rem;
}
.o-input-mb {
  display: none;
}
header#header-2023
  .container-top-header
  .o-login-cart
  .o-iconos-container
  .minicart-header-container {
  cursor: pointer;
}
/*
header#header-2023
  .container-top-header
  .o-login-cart
  .o-iconos-container
  .minicart-header-container
  .minicart-header {
  display: none;
}
header#header-2023
  .container-top-header
  .o-login-cart
  .o-iconos-container
  .minicart-header-container
  .minicart-header.active {
  display: block;
}
*/

header#header-2023
  .container-top-header
  .o-login-cart
  .o-iconos-container
  .minicart-header-container
  .minicart-header {
  background-color: #fff;
  position: fixed;
  top: 0px;
  right: -563px;
  width: 550px;
  z-index: 9999;
  padding: 0px;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

/*CLASE DESPLACE PARA ANIMACIÓN DE CARRITO*/

header#header-2023
  .container-top-header
  .o-login-cart
  .o-iconos-container
  .minicart-header-container
  .minicart-header.desplace {
  right: 0;
  transition: all 0.3s ease-in-out;
}

.v2-vtexsc-cart.vtexsc-cart.preLoaded {
  display: flex !important;
  overflow: inherit !important;
  height: auto !important;
}
a#minicart-header {
  display: none;
}

.vtexsc-productList thead {
  display: none;
}
.vtexsc-productList tr {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  padding: 1rem 2rem;
  margin: 1rem 0;
  background: white;
  box-shadow: 0px 2px 13px #00000005;
}
.cartSkuImage {
  width: 20%;
  max-width: 130px;
}
.sku-imagem {
  width: 100%;
}
.sku-imagem img {
  width: 100%;
  object-fit: contain;
}

.cartSkuPrice {
  position: absolute;
  top: 60%;
  left: 30%;
}
.cartSkuUnitPrice {
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartSkuUnitPrice span {
  font-size: 14px;
  color: black;
}

.pricediscount {
  font-size: 14px;
  text-decoration: line-through;
  font-family: "Work Sans", sans-serif;
}
.cartSkuQuantity {
  position: absolute;
  top: 60%;
  left: 70%;
}

.cartSkuName {
  width: 80%;
}

.cartSkuName h4 a {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: black;
  text-transform: uppercase;
}
svg#capa_2 {
  display: none;
}
.content-minicart {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 56vh;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #b1b1b1b8;
  display: flex;
  align-items: center;
}
/*.content-minicart::-webkit-scrollbar{
	display:none;
}*/
.cartSkuQuantity .vtexsc-skuQtt input {
  width: 12%;
  text-align: center;
  font-size: 16px;
  border-left: none;
  border-right: none;
  border: 1px solid #a3a3a3;
}
.mas,
.menos {
  width: 12%;
  text-align: center;
  font-size: 16px;
  border: 1px solid #a3a3a3;
  background: white;
  color: black;
  font-family: "Work Sans", sans-serif;
}

.cartSkuActions {
  position: absolute;
  top: 4px;
  right: 6px;
}
.cartSkuRemove a {
  display: block !important;
  font-size: 0;
}

.cartSkuRemove a::before {
  content: "X";
  font-size: 16px;
  font-family: "Work Sans";
  color: #000;
  color: white;
  padding: 2px 7px;
  background: #d1d1d1;
  /* width: 24px; */
  /* border: 1px solid gray; */
  border-radius: 100%;
}

.section-cart {
  width: 100%;
  background: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close-cart {
  font-size: 32px;
  font-family: "Work Sans";
  color: #626262;
}
.vtexsc-productList tbody {
  background: #f7f7f7;
}
.cartFooter {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  align-items: center;
  justify-content: center;
  left: 0;
}
.cartTotal {
  width: 100%;
  display: flex;
  /* left: 4%; */
  align-items: end;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Work Sans bold";
  position: relative;
  padding: 0 2rem;
}

.cartTotal::after {
  content: "Impuestos incluidos";
  position: absolute;
  font-size: 13px;
  font-family: "Work Sans";
  font-weight: 700;
  left: 80px;
}
.vtexsc-text {
  font-family: "Work Sans bold";
}
.cartCheckout {
  padding: 1rem 2rem;
  background: black;
  color: white;
  font-family: "Work Sans bold";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartCheckout::after {
  content: "PAGAR";
}

.range-shipping-free {
  width: 100%;
  margin: 0 auto;
  bottom: 135px;
  padding: 0 2rem;
  border-top: none;
  border-bottom: none;
}
.range-shipping-free input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: 15px;
  border-radius: 0 !important;
  box-shadow: inset 0px 0px 0px 1px #000000;
  margin: 17px 0px;
}
.range-shipping-free input::before {
  content: "100%";
  font-family: "Work sans";
  font-weight: bold;
  color: #000;
  position: absolute;
  right: 28px;
  top: 0px;
}
.range-shipping-free input::after {
  content: "$199.900" !important;
  font-family: "Work sans";
  font-weight: bold;
  color: #000;
  position: absolute;
  right: 28px;
  top: 32px !important;
}

.text-price-promo {
  position: absolute;
  left: 26px;
  font-size: 14px;
  bottom: 2px;
  color: #d22027;
  font-family: "Work Sans";
  letter-spacing: 1px;
}
.coupon {
  text-align: left;
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 1rem 0;
  width: 92%;
}
.coupon .text-cupon {
  font-family: "Work Sans";
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
}
.coupon .text-cupon:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: 170px;
  color: #000;
}
.coupon .text-cupon.active:after {
  content: "\f107";
}
.coupon .cupon-added {
  display: block;
  font-size: 12px;
  bottom: 2px;
  color: #d22027;
  font-family: "Work Sans";
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 6px;
}

.coupon .campo-coupon #cupon-code {
  margin-top: 8px;
  height: 33px;
  border-radius: 0;
  border: 1px solid #d3d3d3;
  width: 100%;
  text-align: center;
  background: white;
  font-family: "Work Sans";
  font-size: 18px;
  color: black;
}
.menu-movil{
  display: none;
}
/*comienzo de estilos main*/

.main-quest2023{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*ESTILOS DE BANNER*/
.banner-home{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  
}
.img-banner{
  width: 100%;
  position: relative;
  
}
.banner-home img{
  width: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
}
#img-hombre, #img-mujer{
  display: none;
}
.opa-on{
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.opa-off{
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.banner-btns{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 50%;
  flex-direction: column;
  gap: 1rem;
  bottom: 20%;
}
.banner-btns h1{
  font-size: 32px;
  color: white;
  font-family: 'work sans';
  margin: 0;
}

.banner-btns p{
  font-size: 18px;
  color: white;
  font-family: 'work sans';
  margin: 0;
}
.b-btns{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.banner-btns a{
  background: black;
  z-index: 55;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family:'work sans';
  padding: 0.8rem 4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.banner-btns a:hover{
  background: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}

/*ESTILOS DE CATEGORIAS*/
.o-categorias-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 95%;

}
.o-cat-top{
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
}
.o-ct-left{
  display: flex;
  width: 49.5%;
  align-items: stretch;
  justify-content: center;
  position: relative;
  

}
.o-ct-left img{
  width: 100%;
  object-fit: cover;
}
.o-cat-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
}
.o-cat-title h2{
 font-family: 'work sans';
 font-size: 18px;
 color: white;
}
.o-cat-title a{
  
}
.o-ct-right{
  display: flex;
  width: 49.5%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.o-r-l{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.o-r-l img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-r-r{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.o-r-r img{
  width: 100%;
}
.o-cat-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  position: relative;
}
.o-cb-img-cont{
  width: 100%;
  overflow: hidden;
}
.o-cb-img-cont img{
  width: 100%;
}
.o-custom-btn{
  text-decoration: none;
  font-size: 16px;
  color: white;
  background:black;
  padding: 8px 2rem;
  font-family:'work sans';
}



/*MEDIA HOVERS*/

@media (hover: hover) {
  .anim:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  .imagen-menu a img:hover {
    filter: brightness(0.8);
  }
  .ver-todo a:hover {
    font-weight: 700 !important;
  }
  .menu-header ul li a:hover {
    font-weight: 500;
  }
  .menu-item:hover .submenu {
    position: absolute;
    background: #fff;
    left: 0px;
    right: 0%;
    color: #fff;
    padding: 25px;
    min-height: 376px;
    display: flex;
    flex-direction: row;
    transition: all 1s ease-in-out;
    border-bottom: 1px solid #0000001f;
  }
  .cartCheckout:hover {
    background: #056c3b;
    color: white;
  }
  .menu-movil {
    display: none;
  }
}

/*--------------MEDIA QUERIES DE HEADER----------------*/
@media (max-width: 687px) {
  #header-2023 {
    position: fixed;
  }
  .container-top-header {
    padding: 0.5em;
    height: 4em;
  }
  .busca {
    display: none;
  }
  .o-logo img {
    max-width: 150px;
  }
  .o-input {
    display: none;
  }
  .o-iconos-container {
    width: 50%;
  }
  .o-openMenuMobile {
    display: flex;
    width: 33%;
  }
  /*ESTILOS PARA OCULTAR Y MOSTRAR MENÚ HAMBURGUESA*/
  .hide {
    display: none;
  }
  .show {
    display: flex;
    width: 33%;
  }
  /*ESTILOS DE MENÚ DESPLEGABLE*/
  .container-bottom-header {
    height: auto;
    justify-content: flex-start;
    position: absolute;
    align-items: start;
    left: -687px;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    padding: 0 1rem;
  }
  .active {
    left: 0;
    transition: all 0.2s ease-in-out;
  }
  .container-bottom-header ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }
  .container-bottom-header ul li {
    padding: 0.5em 0;
  }
  .menu-header {
    width: 100%;
    flex-direction: column;
    padding-left: 8px;
  }
  .menu-header ul li {
    display: none;
  }
  .title-menu {
    display: flex !important;
    padding-left: 0 !important;
  }
  .title-menu a {
    font-weight: 400;
  }
  .desplegar {
    display: block !important;
  }
  .desplegar-item {
    display: block !important;
  }
  .imagen-menu {
    display: none;
  }

  .submenu a {
    font-weight: 300;
  }
  .title-menu a {
    font-weight: 700;
  }
  .title-menu.desplegar-item a {
    padding-left: 0;
    font-weight: 700;
  }
  .menu-header ul li.desplegar-item {
    padding-left: 1em;
  }
  .o-input-mb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }
  .o-input-mb input {
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    outline: none;
  }
  .o-input-mb input::placeholder {
    color: black;
    font-family: "Work Sans", sans-serif;
  }

  .search-header {
    display: none;
  }

  /*
  .title-menu {
    display: flex!important;
  }
.menu-header ul li{
  display: none;
}*/

  /*ESTILOS DE CARRITO DE COMMPRAS*/

  header#header-2023
    .container-top-header
    .o-login-cart
    .o-iconos-container
    .minicart-header-container
    .minicart-header {
    width: 100%;
  }

  .coupon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-price-promo {
    font-size: 12px;
  }

  .coupon .text-cupon:after {
    left: 20px;
  }

  .coupon .text-cupon {
    width: 92%;
  }

  .coupon .campo-coupon.active {
    display: block;
    padding: 8px 2rem;
  }

  /* .section-cart{
  	padding:1rem;
  }
  
  .vtexsc-productList tr{
  	padding: 0.5rem 1rem;
    margin: 0.5rem 0;
  }*/

  /*MENU MOVIL*/

  .menu-movil {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    padding-top: 6rem;
  }
.mm-header{
  padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    border-bottom: 1px solid #858585;
    z-index: 99;
}
  .mm-top-header {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  .mm-top-header a {
    font-family: "work sans";
    font-size: 24px;
    font-weight: 700;
  }
  .mm-bottom-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }
  .mm-bottom-header h2 {
    font-family: "work sans";
    font-weight: 700;
    font-size: 18px;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
  }
  .isSelected{
    background: black;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  .mm-nuevo-m {
    display: flex;
    width: 100%;
    padding: 0;
    background: white;
    display: none;
  }

  .mm-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-around;
    
  }
  .mm-items li {
    font-family: "work sans";
    font-weight: 500;
    /*border-top: 1px solid gray;*/
    border-bottom: 1px solid gray;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mm-items li::after {
    content: "›";
    font-size: 24px;
    font-family: "work sans";
  }
  .mm-items h3{
    padding: 1rem 1rem;
    font-size: 18px;
    font-family: "work sans";
  }
.mm-ropa{
  display: flex;
  transform: translateX(200%);
  transition: all 0.3s ease-in-out;
 
}
.mm-transladar{
  transform: translateX(0);
}
  .mm-show {
    display: flex;
  }

  .mm-hide {
    display: none;
  }
  .mm-desplegar {
    left: 0;
  }
}
